@{
	ViewBag.Title = "Dashboard";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.Message</h3>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
		
		</div>
		
		<div class="col-md-8">
		<h1 class="display-4 text-center">Visit "Transfer funds" tab </h1>
		</div>
		
		<div class="col-md-2">
		
		</div>	
	</div>
</div>
